{% include "header.html" %}

{% block content %}

{% endblock %}

{% include "footer.html" %}

<!-- <div class="md:m-auto w-full md:w-[80vw] p-5 ">
    <h1 class="text-4xl font-bold text-center text-cyan-900 my-3 mb-3"> NIKE New Collection!</h1>

    <div class="flex flex-wrap-reverse gap-y-2">

      <div class="w-[45rem]">
        <p class="text-slate-600 font-semibold">NIKE</p>
        <h1 class="text-2xl font-semibold my-2">Jordan Shoes For Men's Boots For Men <p class="text-blue-700">(Blue)</p></h1>
        <div class="flex ">
          <h2 class="text-3xl font-bold my-2">&#8377; 7599</h2>
          <span class="text-lg mx-6 text-slate-400 leading-10"><strike>&#8377; 14599</strike></span>
          <span class="text-xl mx-1 text-green-700 leading-10 font-bold">48% off</span>
        </div>  
        <div class="py-2">
          <h2 class="text-lg font-semibold my-2">Available Offers</h2>
          <h2 class="text-md">
        </div>    
      </div>

      <div class=" w-full lg:w-1/2 bg-slate-100 rounded-3xl card">
        <img src="/static/Photos/Air-Jordan-PNG-Photo.png" alt="" class="w-[35rem] mb-4 rotate-[-25deg]">
      </div>

  </div> -->